SLACK_CLIENT_ID=YOUR_SLACK_CLIENT_ID
SLACK_CLIENT_SECRET=YOUR_SLACK_CLIENT_SECRET
SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN

JIRA_API_TOKEN=YOUR_JIRA_API_TOKEN
JIRA_BASE_URL=YOUR_JIRA_BASE_URL

OPENAI_API_SECRET=YOUR_OPENAI_API_SECRET
OPENAI_API_BASE=YOUR_OPENAI_API_BASE
OPENAI_API_VERSION=YOUR_OPENAI_API_VERSION
OPENAI_API_RESOURCE_NAME=YOUR_OPENAI_API_RESOURCE_NAME
OPENAI_API_TYPE=YOUR_OPENAI_API_TYPE